.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1.4px solid #E0E3EB;
    border-radius: 4px;
    padding: 10px 5px 0 10px;
    width: 400px;
    height: 200px;
}
.imgName{
    display: flex;
    align-items: center;
    /*justify-content: flex-start;*/
}

.wrapper h2 {
    margin-right: auto;
    align-items: flex-start;
    width: 150px;
    /*margin: 0;*/
}
.wrapper p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.icon {
    margin-right: auto;
    max-width: 100%;
    max-height: 200px
}

@media screen and (max-width: 768px) {
    .wrapper {
        align-items: center;
        box-sizing: border-box;
        max-width: 500px;
        margin-top: 20px;
    }
}