.wrapper {
    min-height: 250px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 15px;
}

.imgName {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.name {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    margin: 22px 10px 15px;
    display: inline-block;
}


.comment {
    max-width: 100%;
    margin: 0 10px;
    word-wrap: break-word;
    font-size: 18px;
    text-align: left;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        align-items: center;
        box-sizing: border-box;
        max-width: 768px;
        padding: 10px 10px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        align-items: center;
        box-sizing: border-box;
        max-width: 768px;
    }
}