.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
    padding: 20px;
    background-color: #F0F0F6;
    color: #333;
    font-weight: bold;
}

.wrapperLink {
    display: flex;
    justify-content: end;


}

.logo {
    width: 100px;
    height: 60px;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline #69696a;
    text-shadow: 1px 0 #bdbdbd;
}

.item {
    font-size: 18px;
    margin: 20px 30px 20px;
    background-color: #F0F0F6;
    white-space: nowrap;
    color: #000000;

}

.background {
    z-index: 10;
    position: fixed;

    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.3);
}

.sidebar {
    z-index: 20;
    position: fixed;
    transition: 0.2s ease-in;

    height: 100vh;
    width: 317px;
    left: -317px;
    top: 0;

    background: #F0F0F6;
}

.sidebar.open {
    position: fixed;
    transition: 0.2s ease-out;

    left: 0;
    box-shadow: 0 10px 40px rgba(29, 33, 38, 0.13),
    0 1px 2px rgba(29, 33, 38, 0.1);
}

.close {
    position: absolute;
    height: 24px;
    width: 24px;
    right: 24px;
    top: 16px;

    background-color: transparent;
    border: none;
}

.close img {
    height: 24px;
    width: 24px;
}


.burger {
    display: none;
}

@media screen and (max-width: 768px) {
    .wrapper {
        display: none;
    }

    .burger {
        display: flex;
        position: absolute;
        height: 24px;
        width: 24px;
        left: 15px;
        top: 15px
    }

    .burger img {
        height: 24px;
        width: 24px;
    }

    .burger:hover {
        cursor: pointer;
    }

}
